
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Jost", sans-serif;
}

.main-color{
  color: #ef502f;
}

a {
  color: #ef502f;
  text-decoration: none;
}

a:hover {
  color: #ff856c;
  text-decoration: none;
}

.small-title{
  position: relative;
  display: inline-block;
  font-size: 18px;
  line-height: 26px;
  font-weight: 600;
  color: #716868;
  padding-bottom: 4px;
}
.small-title::before{
  position: absolute;
  content: '';
  width: 100%;
  height: 2px;
  left: 0px;
  bottom: 0px;
  background: #ef502f;
}

.title-section{
  font-size: 50px;
  line-height: 60px;
  font-weight: 900;
}

h3.style{
  font-size: 26px;
  line-height: 36px;
  font-weight: 900;
}

h4.style{
  font-size: 20px;
  line-height: 30px;
  font-weight: 700;
}

.font-size-50px{
  font-size: 50px !important;
}
/* HEader */

.page-header{
  position: sticky;
  top: 0px;
  background: rgba(0, 0, 0, 1);
  transition: all 0.5s;
  height: 90px;
  z-index: 99999;
}

.page-header .logo{
  max-height: 60px;
}

.page-header .container-links{
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 40px;
}

.page-header .header-link{
  color: white;
}

.page-header .header-link:hover{
  color: #ff856c;
}

.page-header .header-link.active{
  color: #ef502f;
}

.page-header .header-link.active:hover{
  color: #ef502f;
}

.page-header .header-close{
  position: absolute;
  right: 30px;
  top: 40px;
  font-size: 2rem;
}

#hover-interactive-header{
  transition: all 0.3s;
  position: fixed;
  top: 0px;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: rgba(25, 25, 25, 0.95);
}

#hover-interactive-header.active{
  left: 0px;
}


@media (max-width: 992px) {
  .logo-container{
    text-align: center;
    position: relative;
  }

  .menu{
    color: white;
    position: absolute;
    right: 0px;
    top: 18px;
    border-radius: 8px;
    font-size: 2rem;
  }

  .page-header .container-links{
    background-color: rgba(25, 25, 25);
    flex-flow: column;
    gap: 12px;
    align-items: start;
    padding: 23px;
    position: fixed;
    width: 181px;
    left: -181px;
    height: 100%;
    justify-content: start;
    padding-top: 120px;
    /* transition: all 0.5s; */
  }

  .page-header .container-links.active{
    left: 0px;
  }
}

/* inicio */

.hero{
  background-image: url(../img/inicio/abstract-burning-bright-smoke-black-background.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-add{
  padding: 100px 0px;
}

.hero .logo{
  max-width: 700px;
  padding-top: 7rem;
  padding-bottom: 7rem;
  height: auto;
}

@media (max-width: 992px) {
  .hero .logo{
    max-width: 100%;
  }
}

.wrapper-hero-text{
  display: flex;
  align-items: start;
  justify-content: center;
  flex-flow: column;
  margin: 5rem 0px;
}

.wrapper-hero-img{
  display: flex;
  align-items: start;
  justify-content: center;
  flex-flow: column;
  margin: 5rem 0px;
}

.hero-btn{
  background-color: #ef502f;
  color: white !important;
  position: relative;
}


.hero-btn::before{
  position: absolute;
  content: '';
  width: 0%;
  height: 100%;
  background: #2d2727;
  left: 0px;
  top: 0px;
  transition: all 500ms ease;
}

.hero-btn:hover::before {
  width: 100%;
}

.logo-2{
  max-width: 340px;
  height: auto;
}

/* Acerca */
.wrapper-img-nosotros{
  padding: 0px 40px 50px 0px;
}

.wrapper-img-nosotros::before{
  content: "";
  position: absolute;
  background: #f5f0f0;
  width: calc(100% + 0px);
  height: calc(100% - 60px);
  top: 60px;
  left: -60px;
  z-index: -1;
}

.info-img-nosotros{
  position: absolute;
  background-color: #ef502f;
  color: white;
  bottom: 0px;
  left: -60px;
  text-align: center;
  padding: 30px 50px 30px;
  max-width: 200px;
}

.icon-text-nosotros{
  font-size: 60px;
  line-height: 50px;
  color: #ef502f;
}

i.checks-nosotros{
  font-size: 22px;
}

/* Valores */
.values{
  background-color: #f5f0f0;
  margin-top: 5rem;
  padding: 115px 0px 120px 0px;
  margin-bottom: 5rem;
}

.container-value{
  background-image: url(https://placehold.co/600x600);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  position: relative;
}
.cc-value{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100%;
}

.content-value{
  position: absolute;
  top: 15px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  padding: 30px 30px;
  transition: all 500ms ease;
  flex-flow: column;
  color: white;
  opacity: 0;
}
.container-value:hover .cc-value::after{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  content: "";
  background: rgba(0, 0,0, 0.6);
}
.container-value:hover .content-value{
  top: 0px;
  opacity: 1;
}
/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #ef502f;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 24px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #6bc1e9;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}